/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
  }

  
  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    white-space: pre-line;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
  }

  h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;
  }

  h1{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
  }

  h2{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
  }

  .navbar-caption-text{
    color: #012970;
    text-decoration: none;
  }

  .navbar-caption-text:hover {
    color: #717ff5;
    text-decoration: none;
  }


  .myButton, .myButton:focus{
    /* background: #4154f1; */
     padding: 8px 20px; 
    /* margin-left: 30rem; */
    /* border-radius: 4px; */
    color: #fff;
    /* width: 144px; */
    height: 42px;
    background-color: #0D2A69;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 500;
  }



  .myButton:hover,  .myButton:focus:hover {
    color: #fff;
    background: #5969f3; 
  }

  .my-rounded-circle{
    border:1px solid;
    border-radius:50%;
    width:150px;
    height:150px;
    }

    .logo-image{
      border:1px solid;
      /* border-radius:10%; */
      width:800px;
      height:100px; 
      text-decoration: none;
      }

  .my-profile-image{
      border:1px solid;
      border-radius:10%;
      width:200px;
      height:210px;
      }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    z-index: 2;
    padding: 20px 0;
    /* margin-bottom: 3px; */
    position: relative;
    /* background-color: red; */
  } 
 
  .header .logo {
    line-height: 0;
  }
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    /* margin-top: 3px; */
  }

  .header a {
    text-decoration: none;
  }
/*-------------------------------------------------------------
# Nav bar in header
--------------------------------------------------------------*/
  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar .nav-margin{
    margin-right: 3rem;
  }
  .navbar-container {
    margin: 0;
    padding: 0;
    /* background-color: khaki; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .navbar-caption{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 2.1rem;
    padding: 0.5rem;
    color: #012970;
    text-shadow: 2px 2px lightblue;
    opacity: 4;
  }

  /* .navbar-links{
    display: flex;
    justify-content: space-between;
  } */

   .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: crimson; */
  }
  
  .navbar-button{
    background: #4154f1;
    padding : 0.6rem;
    border-radius: 5px;
    color: #fff;
  }

  .navbar ul li{
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #012970;
    padding: 1rem;
  }

  .navbar-submenu{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
  }

  .navbar-submenu ul{
    list-style: none;
  }

  .navbar-submenu li{
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
  }

  .navbar-submenu li:last-child{
    border-bottom: none;
  }

  .navbar-submenu li a{
    color: rgba(var(--bs-dark-rgb))!important;
  }

  @media (max-width : 900px){

    .navbar{
      position: absolute;
      top: 0rem;
      left: 0rem;
      right: 0rem;
      /* background-color: black; */
      background-color: #f9f9f9;
      text-align: center;
      display: block;
      z-index: 99999;
    }

    .navbar .nav-margin{
      margin-right: 0;
    }

    .navbar-caption{
      font-size: 1.5rem;
    }
     .navbar ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      /* background-color: khaki; */
      width: '100%';
    }

    .navbar-container .navbar ul li{
      /* background-color: blueviolet; */
      padding: 1rem;
      text-align: center;
      z-index: 99999;
    }

    .navbar-submenu{
      display: flex;
      flex-direction: column;
      border: unset;
      position: absolute;
      top:55px;
    }

    .navbar-submenu li{
      border-bottom: unset;
      width: 100%;
      text-align: center;
    }
  }
/*--------------------------------------------------------------
# Navbar new DropDown for my Home
--------------------------------------------------------------*/

/* .navbar-container .navbar-dropdown{
  background-color: lawngreen;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0;
  padding: 0;
  position: absolute;
  top:10rem;
  left:0rem;
  right: 0rem;
}

.navbar-container .navbar-dropdown ul{
  list-style: none;
}

.navbar-container .navbar-dropdown ul li{
  background-color: black;
  padding: 0.5rem;
  text-align: center;
}

.navbar-container .navbar-dropdown ul li a{
  text-decoration: none;
  background-color: lightpink;
  padding: 0.5rem;
  text-align: center;
} */



/*--------------------------------------------------------------
# DropDown for my Home
--------------------------------------------------------------*/

/*
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 12px 16px 0px 10px;
  z-index: 1;
  top: calc(100% + 1px); 
  right: calc(0%);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  border-radius: 4px;
}

.dropdown-content li{
  position: relative;
  min-width: 200px;
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul li:hover {
  color: #4154f1;
  background-color: black;
}/*

/*--------------------------------------------------------------
# Styling for the My home
--------------------------------------------------------------*/

.myHome {
    width: 100%;
    height: 100vh;
    /* background: url(../img/hero-bg.png) top center no-repeat; */
    background-size: cover;
  }

.myHome h1 {
    margin: 0;
    font-size: 48px;  
    font-weight: 700; 
  }

.myHome h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.myHome-get-started {
    /* margin-left: 0px;
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;    */
    padding: 5px 5px;
    border-radius: 4px; 
    transition: 0.5s;
    color: #fff; 
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  }

.myHome-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }

/*--------------------------------------------------------------
# Styling for the Mentor List Component
--------------------------------------------------------------*/
  /* .mentor-container {
    background: #fff;
    padding: 80px 0;
  } */
  /* .mentor-container .mentor {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
  }
  .mentor-container  .mentor-img {
    position: relative;
    overflow: hidden;
  } */

   .mentor-card-element{
    padding: 5px 5px 5px 5px; 
    border-color: blue;
    border: 5px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
  }

  /* Brings that curved behavious of the DP */

  .mentor-container .mentor-img:after {
    /* position: absolute; */
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* background: url(../img/team-shape.svg) no-repeat center bottom; */
    background-size: contain;
    z-index: 1;
  }

  .mentor-container .mentor-info {
    padding: 10px 15px 20px 15px;
  }
  /* Headline syntax */

  /* .mentor-container  .mentor .mentor-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;
  } */
  /* paragraph syntax */
  .mentor-container  .mentor-info p {
    /* font-style: italic; */
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    /* color: #5e5e5e; */
  }

/*--------------------------------------------------------------
# Styling for the Events Component
--------------------------------------------------------------*/
  .myEvent-container {
    padding: 15px 0; 
  }

  .myEvent-container .myEvent {
    /* position: relative; */
    overflow: hidden;
    padding-top: 10px;
    /* border-radius: 5px; */
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
  }

  .myEvent-container .myEvent .myEvent-img {
    /* position: relative; */
    overflow: hidden;
  }

  .myEvent-container  .myEvent .myEvent-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 8px;
    line-height: 26px; 
    color: #5e5e5e;
  }

  .myEvent-join-btn {
    margin-left: 0px;
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px; 
    border-radius: 4px;   
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  }

.myEvent-join-btn span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }

  /*--------------------------------------------------------------
# Styling for the Register Component
--------------------------------------------------------------*/

  .register-form {
    padding: 15px 15px 15px 15px;
  }

  .register-form .h4{
    color:black
  }

  .register-form .register-element{
    margin: 5px;
    padding: 15px 15px 15px 15px; 
    border-color: purple;
    border: 5px;
    width: 100%; 
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
  }

/*--------------------------------------------------------------
# Styling for the Mentor Profile Component
--------------------------------------------------------------*/
.mentor-profile-container{
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}

 /* .swal-modal {
  border: 3px solid white;
  margin-bottom: '50%';
}   */

/*--------------------------------------------------------------
# Styling for the Events  Component
--------------------------------------------------------------*/
.event-profile-container{
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}

.checked {
  color: orange;
}

/**
* Session button for Events Component
*/

.session-button{
  text-decoration: none;
}