* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.brand-title {
    font-size: 3rem;
    margin: .5rem; 
    padding: 0.5rem;
}


/* navbar CSS */

.navbar{
    background-color: black;
    color:ivory;
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    position: relative;
}

/* .navbar-links{
    background-color: khaki;
} */

.navbar-links ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-links li{
    list-style: none;
    margin: 0;
    padding: 0;
}

 .navbar-links li a{
    /* background-color: bl; */
    /* margin: 3px; */
    display: block;
    padding: 2rem;
    /* padding: 1rem;    */
    text-decoration: none;
    /* margin-right: 5px; */
    /* font-size: 25px; */
    margin: 0;
    color: inherit;
}


 .navbar-links li a:hover{
    background-color: grey;
}

.navbar-dropdown{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: stretch; */
    position:absolute;
    top: 8rem;
    right: 0rem;
    left: 0rem;
    background-color: black;
    margin: 0.25rem;
    background-color: khaki;
}


/* 
Dropdown CSS
*/
.navbar-dropdown li{
    list-style: none;
    align-self: center;
}

.navbar-dropdown li a{
    /* background-color: bl; */
    /* margin: 3px; */
    display: block;
    padding: 1rem;
    /* padding: 1rem;    */
    text-decoration: none;
    /* margin-right: 5px; */
    /* font-size: 25px; */
    margin: 0;
    color:inherit;
    /* background-color: blue; */
    /* width: '100%'; */
    text-align: center;
}

.navbar-dropdown li a:hover{
    background-color: grey;
}


@media (max-width : 800px) {

    .navbar{
        justify-content: center;
    }
    .navbar-links ul{
        display: none;
    }

    .navbar-dropdown{
        display: flex;
    }
    
}